<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Downloader Prototype
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Downloader Prototype</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="Download1()">Download 440 MB</ion-button>
  <ion-button (click)="Download2()">Download 270 MB</ion-button>
  <ion-button (click)="Download3()">Download 10 MB</ion-button>
  <br>
  <br>
  <ion-button (click)="Download4()">Download 1GB (Unknown Source)</ion-button>
  <br>
  <br>
  <ion-button (click)="Download5()">Download & Unzip Test</ion-button>
</ion-content>
